@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #fdd55f;
  --primary-color-alt: #f2b843;
  --secondary-color: #dc8c27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.container {
  width: 90%;
  max-width: 767px;
  margin: -5rem auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--primary-color-alt);
}

p {
  text-align: center;
}

.btn {
  color: #fff;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  column-gap: 1rem;
  align-items: center;
  padding: 10px 20px;
}

.container img {
  width: 350px;
  margin-bottom: 4rem;
  opacity: 0.75;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}

.swap-rate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swap-rate-container .btn {
  cursor: pointer;
  transition: background 0.3s;
}
.swap-rate-container .btn:hover {
  background: var(--primary-color-alt);
}

.rate {
  color: var(--secondary-color);
  font-size: 18px;
  padding: 0 10px;
}

.currency select {
  padding: 10px 20px 10px 10px;
  border: 1px solid #dedede;
  border-radius: 0.5rem;
  padding: 10px 30px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 8px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
  width: 80%;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}
